<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Follow-Up on Your Request</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
    }

    .header {
      background-color: #3498db;
      padding: 20px;
      color: #fff;
      text-align: center;
    }

    .content {
      padding: 20px;
    }

    .footer {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Follow-Up on Your Request</h1>
    </div>
    <div class="content">
      <p>Hello <%= user %></p>
      <p>We hope this email finds you well. Thank you for submitting your request. Our agents are currently reviewing the details, and you can expect a follow-up from us soon.</p>
      <p>If you have any urgent questions or additional information to provide, feel free to contact us through this email: info@batelian.com or contact our support team.</p>
      <p>Thank you for choosing our services. We appreciate your business!</p>
    </div>
    <div class="footer">
      <p>Best regards,</p>
      <p><a href="mailto:info@batelian.com">The Batelian Team</a> </p>
    </div>
  </div>
</body>

</html>